<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClaseBase.Properties.Settings.BDInstituto" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Educación\Facultad\3° Año\2do Cuatrimestre\Laboratorio de Programacion Orientado a Objetos II\Practica\Trabajo Practico 5\LPOO2-GRUPO03\instituto.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>