<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vistas.Properties.Settings.BDInstituto" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Facultad\LPOO2\Proyecto-LPOOII\LPOO2-GRUPO03\LPOO2-GRUPO03\instituto.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>